/* Fondo del body */
body {
  background-color: #d7d7d7;
}

/* Contenedor */
.container {
  /* fondo de la web */
  background-color: #F9F9E2;
  /* Poner altura falsa */
  height: 100vh;
  /* Ancho controlado */
  max-width: 1366px;
  /* Siempre en el centro de todas las pantallas */
  margin: 0 auto;
  /* margenes */
  box-sizing: border-box;
  padding: 35px 35px 0 35px;
}

/* Circulo representando la zona del logo */
.circle {
 /* fondo del circulo */
  background-color: orange;
  /* forma */
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.rectangulo{
    /* fondo rectangulo */
    background-color: orange;
    /* forma */
    width: 100%;
    height: 600px;
    border-radius: 150px;
    /* margenes */
    margin-top: 50px;
}
