/* Fondo del body */
body {
  background-color: #585858;
}

/* Contenedor */
.container {
  /* fondo de la web */
  background-color: #f9f97d;
  /* Poner altura falsa */
  height: 200vh;
  /* Ancho controlado */
  max-width: 1366px;
  /* Siempre en el centro de todas las pantallas */
  margin: 0 auto;
  /* margenes */
  box-sizing: border-box;
}

header {
  padding: 35px 35px 0 60px;
}

/* Circulo representando la zona del logo */
.circle {
  /* fondo del circulo */
  background-color: orange;
  /* forma */
  width: 200px;
  height: 180px;
  border-radius: 50%;
  margin: 20px;
}

.rectangulo {
  /* fondo rectangulo */
  background-color: orange;
  /* forma */
  height: 600px;
  border-radius: 150px;
  /* margen */
  margin-top: 100px;
}

header {
  display: flex;
  align-items: center;
}

.rectangulo_azul {
  /* fondo rectangulo */
  background-color: #026df0;
  /* forma */
  height: 200px;
  width: 100%;
  /* margenes */
  flex-grow: 1;
}

.rectangulos_blanco {
  padding: 35px 35px 0 60px;
}

/* Rectangulo Blanco */
.rectangulo_blanco {
  /* fondo rectangulo */
  background-color: rgb(255, 255, 255);
  /* forma */
  width: 100%;
  height: 300px;
  /* margen */
  margin-top: 100px;
}

/* Rectangulo + Circulo */
.ciruclo_rectangulo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 100px 0;
  padding: 35px 35px 0 60px;
}

.reverso {
  flex-direction: row-reverse;
}

.circulo_verde {
  /* fondo del circulo */
  background-color: green;
  /* forma */
  width: 300px;
  height: 300px;
  border-radius: 50%;
  flex-shrink: 0; /*No es flexible dentro de FLEX*/
}

.rectangulo_verde {
  /* fondo rectangulo */
  background-color: #8dff8d;
  /* forma */
  height: 300px;
  /* margen */
  flex-basis: 70%;
}

/* Footer */
footer {
  background-color: black;
  height: 800px;
  padding: 80px 35px 0 60px;
}

/* Circulo del footer */
.circulo_negro {
  background-color: orange;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
