/* Fondo del body */
body {
  background-color: #d7d7d7;
}

/* Contenedor */
.container {
  /* fondo de la web */
  background-color: #f9f9e2;
  /* Poner altura falsa */
  height: 100vh;
  /* Ancho controlado */
  max-width: 1366px;
  /* Siempre en el centro de todas las pantallas */
  margin: 0 auto;
  /* margenes */
  box-sizing: border-box;
  padding: 35px 35px 0 35px;
}

/* Circulo representando la zona del logo */
.circle {
  /* fondo del circulo */
  background-color: orange;
  /* forma */
  width: 300px;
  height: 200px;
  border-radius: 50%;
  margin: 20px;
}

.rectangulo {
  /* fondo rectangulo */
  background-color: orange;
  /* forma */
  height: 600px;
  border-radius: 150px;
  /* margen */
  margin-top: 100px;
}

header{
    display: flex;
    align-items: center;
}

.rectangulo_azul {
  /* fondo rectangulo */
  background-color: #026df0;
  /* forma */
  height: 200px;
  width: 100%;
  /* margenes */
  flex-grow: 1;
}
